body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7f464; /* Light green background */
}

header {
    background-color: #7A288A; /* Purple color */
    padding: 1em;
    text-align: center;
}

.profile-picture {
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.box {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #7A288A; /* Purple border */
}

h2 {
    margin-top: 0;
    color: #34C759; /* Green color */
}

form {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #34C759; /* Green color */
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}
